<app-header-image [backgroundImage]="'assets/images/others/about.jpg'" 
                  [bgImageAnimate]="false" 
                  [contentOffsetToTop]="true"                
                  [title]="'Conseils'"
                  [desc]="'Nous vous aidons à trouver la clé de votre maison'">
</app-header-image>


<div class="theme-container">
    <mat-card class="main-content-header">
        
        <div class="section pt-2">
            <div class="px-3">
                <div class="theme-container">
                    <h1 class="section-title">Notre histoire</h1>

                    <p class="px-3">ENGUIBAT – IMMO est une agence immobilière dont la vocation est de faire la promotion des biens immobiliers dans toutes ses formes dans le but de satisfaire nos clients et nous sommes installés à CONAKRY  dans la commune de RATOMAH précisément à LAMBAYI.</p>

                    <div fxLayout="row wrap">

                        <div fxFlex="100" fxFlex.gt-sm="50" class="p-3"> 
                            <div fxLayout="row" fxLayoutAlign="start center">
                                <mat-icon class="mat-icon-xlg" color="primary">A</mat-icon>
                                <h2 class="capitalize fw-600 mx-2"> propos de l'entreprise</h2>
                            </div>                            
                            <p class="mt-2">
                                À notre agence immobilière, nous croyons que le processus de l'achat ou de la vente d'une propriété devrait être simple et sans stress pour nos clients. Avec une équipe d'agents hautement formés et dévoués, nous avons aidé de nombreux clients à atteindre leurs objectifs immobiliers. Nous sommes une agence innovante, offrant des services de pointe tels que la signature de la transaction en ligne et une expérience client exceptionnelle axée sur la satisfaction, pour vous assurer que votre processus d'achat ou de vente est fluide et agréable.
                                
                                Nous sommes également une agence immobilière passionnée par la création de liens solides et de confiance avec nos clients. Nous ne vendons pas seulement des propriétés, nous créons des communautés. Nous sommes engagés à fournir des conseils judicieux, une écoute attentive et une expertise immobilière de premier plan. Nous sommes fiers de notre approche holistique axée sur la construction de relations solides avec nos clients et de notre réputation établie d'excellence dans le domaine de l'immobilier.
                                
                                Notre agence a une forte présence en ligne et sur les réseaux sociaux, où nous partageons régulièrement des annonces de propriétés ainsi que des outils pour vous aider à prendre des décisions éclairées sur l'achat ou la vente de votre propriété. Nous sommes disponibles pour répondre à toutes vos questions et cherchons toujours à atteindre votre satisfaction.
                                
                                En somme, nous sommes une équipe passionnée par les transactions immobilières et prêtes à exploiter notre expertise pour vous aider à atteindre vos objectifs avec succès. Si vous cherchez une agence immobilière qui vous accompagne tout au long de votre projet immobilier, nous sommes là pour vous.
                                </p>
                        </div>

                        <div fxFlex="100" fxFlex.gt-sm="50" class="p-3"> 
                            <div fxLayout="row" fxLayoutAlign="start center">
                                <mat-icon class="mat-icon-xlg" color="primary">N</mat-icon>
                                <h2 class="capitalize fw-600 mx-2"> otre Vision</h2>
                            </div> 
                            <p class="mt-2">Dans le souci de satisfaire nos nombreux clients, notre agence immobilière ENGUIBAT-IMMO a des visions qui vous aideront à optimiser votre profit parmi lesquelles vous avez :

                                1)- Développer une expertise dans un créneau spécifique du marché immobilier, comme les propriétés de luxe, les biens immobiliers commerciaux ou les propriétés résidentielles haut de gamme.
                                2)- Offrir des services de gestion immobilière pour aider les propriétaires à gérer leurs propriétés, y compris la location, la maintenance et les réparations.
                                3)- Utiliser des technologies avancées pour améliorer l’expérience des clients, par exemple, en proposant  des visites virtuelles en 3D des propriétés ou en utilisant des chatbots pour répondre aux questions des clients.
                                4)- Etablir des partenariats avec des entreprises locales pour offrir des services complémentaires, tels que des services de déménagements ou de nettoyage.
                                5)- Mettre en en place un programme de fidélisation pour les clients réguliers afin de les récompenser   pour leur fidélité et leur donner des accès à des offres exclusives. 
                                6)- Investir dans la formation continue pour les agents immobiliers afin de maintenir leur expertise à jour et de les aider à mieux servir leurs clients.
                                7)- Etablir une forte présence en ligne avec un site web convivial, des comptes de réseaux sociaux actifs et une stratégie de marketing numérique efficace.
                                8)- Développer un programme de parrainage pour encourager les clients existants à recommander l’entreprise à leur famille et leur et à leurs amis.
                                9)- Offrir des services de conseil en financement immobilier pour aider les clients à comprendre les options de financement disponibles pour leur projet immobilier.
                                10)- Participer activement à la communauté locale en organisant ou en parrainant des évènements locaux pour renforcer la notoriété de l’entreprise et établir des relations avec les membres de la communauté.
                                </p>
                        </div>

                    </div>
            
                    
                </div>
            </div>   
        </div> 

    </mat-card> 
 
</div>

<app-mission></app-mission>

<app-our-services></app-our-services>

<app-testimonials></app-testimonials>  

<app-our-agents></app-our-agents>
      
<app-clients></app-clients>

<app-get-in-touch></app-get-in-touch>