<h1>Réponse automatisée</h1><br> 
<ng-container *ngIf="this.modalService.theStatus== 'error'; else elseSection">
    <p class="text-danger">Vous avez déjà manifesté un interêt pour cette annonce</p>
    <p>Merci cher(e) client(e),
        l'équipe <strong>enguibat</strong>
    </p>
    
</ng-container>
<ng-template #elseSection>
    <p class="ws-wrap">Merci pour l'interet que vous avez manifesté pour <br> cette annonce,  un de nos agents vous contactera dans un bref delai</p>
    <p>Merci cher(e) client(e),
        l'équipe <strong>enguibat</strong>
    </p>
</ng-template>
 <button mat-raised-button color="primary" (click)="closeModal()">Fermer</button>
