<div class="section mt-3">
    <div class="px-3">
        <div class="theme-container">
            <h1 class="section-title">Nos Services</h1> 

            <div fxLayout="row wrap" class="services-wrapper">
                <div fxFlex="100" fxFlex.gt-md="25" fxFlex.gt-sm="50" class="p-2" *ngFor="let item of service; let i= index">
                    <mat-card fxLayout="column" fxLayoutAlign="start center" class="h-100 w-100 text-center">            
                        <mat-icon class="mat-icon-xlg" color="primary">E</mat-icon>
                        <h2 class="capitalize fw-600 my-3">{{item.titre}}</h2>
                        <ng-container *ngIf="!item.viewAll; else showAllSection">
                            <p>{{item.libelle | stripChar}} 
                                <ng-container>
                                    <a routerLink="/" (click)="this.changeTheViewAllStatus(this.service, i)">... voir plus</a>
                                </ng-container>
                            </p>  
                        </ng-container>
                        <ng-template #showAllSection>
                            <p>{{item.libelle}} 
                                <ng-container>
                                    <a routerLink="/" (click)="this.changeTheViewAllStatus(this.service, i)">... voir moins</a>
                                </ng-container>
                            </p>  
                        </ng-template>
                        
                    </mat-card>

                </div>


            </div>
        </div>
    </div>   
</div>